@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* For header */
header{
    display: flex;
    padding: 5px !important;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    
    opacity: 1;
    background-color: #b6c9ff;
}

header h1 a{
    background: none;
    color: #000;
    text-decoration: none;
}

.header-group{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-group a{
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

.header-group #login{
    background: transparent;
    color: #003049;
    border: 1px solid #003049;
    order: 3;
    margin-right: 15px;
}

.header-group #login:hover{
    background: #003049;
    color: #fafaef; 
}

.header-group #add-post{
    background: transparent;
    border: 1px solid #003049;
    color: #003049;
    text-decoration: none;
    order: 2;
}

.header-group #add-post:hover{
    background: #003049;
    color: #fafaef;
}

.header-group #logout{
    background: transparent;
    color: #003049;
    border: 1px solid #003049;
    order: 3;
}

.header-group #logout:hover{
    background: #003049;
    color: #fafaef;
}

/* Dependent Utility Class */
.bg-black{
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}

#username{
    text-decoration: none;
    color: inherit;
    background: none;
    margin: 0;
    border: 1px solid #000;
}

#username:hover{
    background: #003049;
    color: #fafaef;
}