@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* For header */
header{
    display: flex;
    padding: 5px !important;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    
    opacity: 1;
    background-color: #b6c9ff;
}

header h1 a{
    background: none;
    color: #000;
    text-decoration: none;
}

.header-group a{
    padding: 5px;
    margin: 0 20px 0 5px;
    background: #003049;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

/* Dependent Utility Class */
.bg-black{
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}

#username{
    text-decoration: none;
    color: inherit;
    background: none;
    margin: 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#username:hover{
    background: #003049;
    color: #fafaef;
}