{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Update Password
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "auth_app/update_password.css" %}">
{% endblock css_files %}

{% block page_content %}
<main>
    <section>
        <div class="form-wrap">
            <h2>Change Password</h2>
            <form action="{% url "update-password" %}" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value='Confirm'>
            </form>
        </div>
    </section>
</main>
{% endblock page_content %}