{% extends "base.html" %}
{% load static %}

{% block page_title %}
Add Blog
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog_app/add_blog_post.css" %}">
{% endblock css_files %}

{% block page_content %}
<main>
    <section id="form-section">
        <div class="container">
            <div class="form-wrap">
                <h1>Create Post</h1>
                <form action="{% url "add-blog" %}" method="post">
                    {% for items in form %}
                    <div class="form-control">
                        <label id="{{items.label|lower}}">{{items.label}}</label>
                        {{items}}
                        {{items.errors}}    
                    </div>
                    {% endfor %}
                    <div class="form-control">
                        <input type="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock page_content %}