{% extends "base.html" %}
{% load static %}
{% block page_title %} The Blog Company {% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog_app/index.css" %}">
{% endblock css_files %}

{% block page_content %}
    <header>
        <h1><a href="{% url "index" %}">The <span class="bg-black">Blog</span> Company</a></h1>
        <div class="header-group">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}">Sign In</a>
            {% else %}
                <p>Hello! The <span class="bg-black">{{request.user}}</span><a href="{% url "logout" %}">Sign Out</a></p>
            {% endif %}
        </div>
    </header>
    <main>
        <section id="posts">
            {% for item in all_posts %}
                <div class="post">
                    <img src="{{item.image.url}}" alt="">
                    <div class="overlay">
                        <h2><a href="{% url "blog-detail" item.post_id %}">{{item.title}}</a></h2>
                        <p>{{item.excerpt}}</p>
                        <div class="post-tags">
                            {% for tags in item.tag.all %}
                                <p>{{tags.caption}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        {% if not request.user.is_authenticated %}
            <div id="sign-in-message">
                <p>Please <a href="{% url "login" %}" class='bg-black'>Login</a> to see more!</p>
            </div>
        {% endif %}
    </main>

{% endblock page_content %}
